{% extends 'minilabTemplate.html' %}
{% block minilab %}
<head>
    <title>Akhilesh's MiniLab</title>
</head>

<div class="container">

    <div class="center-block" style="margin: 2% 5% 5%; font-family: gilroy,serif;">
        <div class="col-12" style="text-align: center;">
            <h1><strong>Movie Recommendations</strong></h1>
        </div>

        <div class="jumbotron text-center row">
            <div class="col-md-6">
                <h3>Enter number of show recommendations.</h3>
                <form id="showForm" action="/akhilesh/minilab-akhil" method="POST" >
                    <input name="movies" id="movies" type="number" min="1" max="20" >
                    <button>Submit</button>
                </form>
            </div>

            <div class="col-md-6">
                <h3>{{movierecs.series}} Movie Recommendations</h3>
                <table class="mx-auto">
                    <tr>
                        <th scope="col">Number</th>
                    </tr>
                    <tr>
                        <td>{{movierecs.series}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-12" style="text-align: left; ">
            <h3 style = "color:color"> Shows: {{movierecs.list}}</h3>
        </div>

    </div>
</div>





<!--
<center>
    <h1>Akhilesh's Minilab</h1>
    <p style="center"> This lab uses classes to get a number of movie recomendations </p>

    <table>
        <th>{{movierecs.series}} Movies:</th>
        <th>{{movierecs.list}}</th>
    </table>
</center>
-->
{% endblock %}
