{% extends 'minilabTemplate.html' %}
{% block minilab %}
<head>
    <title>Maggie Minilab</title>
    <style>
    table, td, th {
        border: 1px solid var(--dblue);
    }
    td, th {
        text-align:left;
    }
    </style>
</head>
<div class="container">

    <div class="center-block" style="margin: 2% 5% 5%; font-family: gilroy,serif;">
        <div class="col-12" style="text-align: center;">
            <h1><strong>Maggie's Bubble Sort Algorithm</strong></h1>
        </div>

        <div class="jumbotron text-center row">
            <div>
                <h3>Enter number of followers on social media.</h3>
                <form id="showForm1" action="/maggie/bubblesortmaggie" method="POST">
                    <input name="num1" type="number" min="1">
                    <input name="num2" type="number" min="1">
                    <input name="num3" type="number" min="1">
                    <input name="num4" type="number" min="1">
                    <input name="num5" type="number" min="1">
                    <input type="submit" name="sort1">
                </form>
            </div>
            <br>
            <div>
                <h3>Enter favorite cities.</h3>
                <form id="showForm2" action="/maggie/bubblesortmaggie" method="POST">
                    <input name="string1" type="text" minlength="1">
                    <input name="string2" type="text" minlength="1">
                    <input name="string3" type="text" minlength="1">
                    <input name="string4" type="text" minlength="1">
                    <input name="string5" type="text" minlength="1">
                    <input type="submit" name="sort2">
                </form>
            </div>
            <br>
            <div>
                <h3>Enter middle initial.</h3>
                <form id="showForm3" action="/maggie/bubblesortmaggie" method="POST">
                    <input name="char1" type="text" minlength="1" maxlength="1">
                    <input name="char2" type="text" minlength="1" maxlength="1">
                    <input name="char3" type="text" minlength="1" maxlength="1">
                    <input name="char4" type="text" minlength="1" maxlength="1">
                    <input name="char5" type="text" minlength="1" maxlength="1">
                    <input type="submit" name="sort3">
                </form>
            </div>
            <br><br><br><br>
            <div style="text-align:center;">
                <h3>Sorted Data</h3>
                <table>
                    <tr>
                        <td>{{mylist}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<h1>Maggie's Minilab</h1>
<p>This minilab recommends a certain number of shows based on user input.</p>

<div class="container">

    <div class="center-block" style="margin: 2% 5% 5%; font-family: gilroy,serif;">
        <div class="col-12" style="text-align: center;">
            <h1><strong>Show Recommendations</strong></h1>
        </div>

        <div class="jumbotron text-center row">
            <div class="col-md-6">
                <h3>Enter number of show recommendations.</h3>
                <form id="showForm" action="/maggie/minilab-maggie" method="POST" >
                    <input name="shows" id="shows" type="number" min="1" max="20" >
                    <button>Submit</button>
                </form>
            </div>

            <div class="col-md-6">
                <h3>{{showrecs.series}} Show Recommendations</h3>
                <table class="mx-auto">
                    <tr>
                        <th scope="col">Number</th>
                    </tr>
                    <tr>
                        <td>{{showrecs.series}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-12" style="text-align: left; ">
            <h3 style = "color:color"> Shows:{{showrecs.list}}</h3>
        </div>

    </div>
</div>









<!--
<h1>Maggie's Minilab</h1>
<p>This minilab pulls from a set of shows using classes</p>
<h3>Here are all {{showrecs.series}} shows!</h3>

<table>
    <tr>
        <th>{{showrecs.series}} shows:</th>
        <th>{{showrecs.list}}</th>
    </tr>
</table>
-->
{% endblock %}
