{% extends 'minilabTemplate.html' %}
{% block minilab %}

<h1>Nivu's Minilab</h1>
<p>This minilab </p>

<div class="container">

    <div class="center-block" style="margin: 2% 5% 5%; font-family: gilroy,serif;">
        <!-- Title -->
        <div class="col-12" style="text-align: center;">
            <h1><strong>Nivu's Factorial Calculation in Python</strong></h1>
        </div>

        <!-- Input and Content -->
        <div class="jumbotron text-center row">
            <div class="col-md-6">
                <h3>Type a number for the factorial calculation</h3>
                <form id="fibForm" action="/minilab/minilab-nivu" method="POST" >
                    <input name="series" id="series" type="number" min="1">
                    <button>Go!</button>
                </form>
            </div>

            <div class="col-md-6">
                <h3>Factorial Calculations for {{factorial.number}}</h3>
                <!-- Number, List table -->
                <table class="mx-auto">
                    <tr>
                        <th scope="col">Number</th>
                    </tr>
                    <tr>
                        <td>{{factorial.number}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Sequence -->
        <div class="col-12" style="text-align: left; ">
            <!-- Series -->
            <h3>Factorial number: {{factorial.number}}</h3>
            <!-- Code -->
        </div>

    </div>
</div>
<style>
    table, td, th {
        border: 1px solid var(--dblue);
    }
    td, th {
        text-align:left;
    }
</style>
{% endblock %}

