{% extends 'minilabTemplate.html' %}
{% block minilab %}
<head>
    <title>Akhilesh's MiniLab</title>
</head>

<body>

<div>
    <h1>Digital Portfolio</h1>
    <p>Links:</p>
    <a href="https://github.com/noyah81/p2ducks">Github</a> </br>
    <a href="https://github.com/noyah81/p2ducks/projects/1">Scrum Board</a> </br></br>

    <h2>Minilabs</h2>
    <h4>Algorithm Minilab</h4>
    <p>The first minilab is the Algorithm minilab. It uses an algorithm to find the absolute value of any inputed number.</p></br>
    <h4>Bubble Sort Minilab</h4>
    <p>The second minilab is the Bubble Sort minilab. It uses a bubble sort method to arrange a list of numbers in numerical order.</p></br>
</div>

<div class="container">

    <div class="center-block" style="margin: 2% 5% 5%; font-family: gilroy,serif;">
        <div class="col-12" style="text-align: center;">
            <h1><strong>Absolute Value Calculator</strong></h1>
        </div>

        <div class="jumbotron text-center row">
            <div class="col-md-6">
                <h3>Enter a number to get its absolute value.</h3>
                <form id="showForm" action="/akhil/minilab-akhil" method="POST" >
                    <input name="series" id="series" type="number">
                    <button>Solve</button>
                </form>
            </div>

            <div class="col-md-6">
                <h3>Absolute Value Calculations for {{absolutevalue.number}}</h3>
                <table class="mx-auto">
                    <tr>
                        <th scope="col">Number</th>
                    </tr>
                    <tr>
                        <td>{{absolutevalue.number}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-12" style="text-align: left; ">
            <h3 style = "color:color"> Absolute Value: {{absolutevalue.number}}</h3>
        </div>
    </div>
</div>

<div>
    <h1>Bubbble Sort Minilab</h1>
    <p>Choose one of the following to create a list of numbers:</p>

    <button onclick="createList();" id="display">Input Numbers</button>
    <p id ="outputnumber">4,1,2,3</p>
    <button onclick="createSortedArray()" id = "bubble">Bubble sort!</button>

    <script>
        function bubbleSort(arrayToSort) {
          var swapped;
          do {
            swapped = false;
            for (var i = 0; i < arrayToSort.length - 1; i++) {
              if (arrayToSort[i] > arrayToSort[i + 1]) {
                var temp = arrayToSort[i];
                arrayToSort[i] = arrayToSort[i + 1];
                arrayToSort[i + 1] = temp;
                swapped = true;
              }
            }
          } while (swapped);
        }


        function createList() {
            var number = prompt("Enter a maximum of 20 numbers, seperated by a comma");
            document.getElementById("outputnumber").innerText = number;
        }

        function createSortedArray() {
            var list = document.getElementById("outputnumber").innerText.split(",").map(Number);
            bubbleSort(list);
            document.getElementById("outputnumber").innerText = list;
        }
    </script>
</div>


</body>





{% endblock %}
