{% extends 'minilabTemplate.html' %}
{% block minilab %}
<head>
    <title>Akhilesh's MiniLab</title>
</head>
{% endblock %}


{% block minilab %}
<div class="container">

    <div class="center-block" style="margin: 2% 5% 5%; font-family: gilroy,serif;">
        <div class="col-12" style="text-align: center;">
            <h1><strong>Absolute Value Calculator</strong></h1>
        </div>

        <div class="jumbotron text-center row">
            <div class="col-md-6">
                <h3>Enter a number to get its absolute value.</h3>
                <form id="showForm" action="/akhilesh/minilab-akhil" method="POST" >
                    <input name="series" id="series" type="number" min="1">
                    <button>Solve</button>
                </form>
            </div>

            <div class="col-md-6">
                <h3>Absolute Value Calculations for {{absolutevalue.number}}</h3>
                <table class="mx-auto">
                    <tr>
                        <th scope="col">Number</th>
                    </tr>
                    <tr>
                        <td>{{absolutevalue.number}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-12" style="text-align: left; ">
            <h3 style = "color:color"> Absolute Value: {{absolutevalue.number}}</h3>
        </div>

    </div>
</div>





<!--
<center>
    <h1>Akhilesh's Minilab</h1>
    <p style="center"> This lab uses classes to get a number of movie recomendations </p>

    <table>
        <th>{{movierecs.series}} Movies:</th>
        <th>{{movierecs.list}}</th>
    </table>
</center>
-->
{% endblock %}
