<nav class="navbar navbar-light navbar-expand-md" id="navbartop" style="background-color:#d5e2ed; padding:20px;">
    <div class="container-fluid"><a class="navbar-brand" href="/"><strong>Hawkers</strong></a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="/login"g><strong>Login</strong></a></li>
                <li class="nav-item"><a class="nav-link active" href="/liked"><strong>Likes</strong></a></li>
                <li class="nav-item"><a class="nav-link active" href="/profile"><strong>Profile</strong></a></li>
                <li class="nav-item"><a class="nav-link active" href="/createTweet"><strong>Start Tweeting!</strong></a></li>
            <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Labs</a>
                <div class="dropdown-menu">
                    <a href="/nivu/minilab-nivu" class="dropdown-item">Nivu Minilab</a>
                    <a href="/nivu/bubble-sort-nivu" class="dropdown-item">Nivu Bubble Sort</a>
                    <a href="/sarah/playlists" class="dropdown-item">Sarah Minilab</a>
                    <a href="/maggie/minilab-maggie" class="dropdown-item">Maggie Minilab</a>
                    <a href="/akhil/minilab-akhil" class="dropdown-item">Akhilesh Minilab</a>
                    <a href="/noya/factorial" class="dropdown-item">Noya Minilab</a>
                </div>
                </ul>
            </div>
    </div>
    </div>
</nav>