{% extends 'base.html' %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    .card {
    width: 100%;
    }

    .container {
    padding: 2px 16px;
    }
    </style>

    <title>Hawkers | Profile</title>
</head>

<body>

<div class="card">
    <div class="container">
        <img src="img_avatar.png" alt="Avatar" style="width:100%">
        <h4><b>Name</b></h4>
        <p>Architect & Engineer</p>
    </div>
</div>

<div class="card">
    <div class="container">
        <h4><b>Tweets</b></h4>
    </div>
</div>

</body>

{% endblock %}