{% extends 'base.html' %}
{% block content %}
<head>
    <title>Hawkers | Profile</title>
</head>

<body>

<div class="card">
    <img src="img_avatar.png" alt="Avatar" style="width:100%">
    <div class="container">
        <div>
            <h1 style="display:inline-block;"><strong>{{user["name"]}}</strong></h1>
        </div>
        <p>@{{user["username"]}}</p>
        <p style="max-width: 50%">
            {{user["bio"]}}
        </p>
        <!--
        <div class="editButton">
            Change Photo
            <input type="file" name="file"/>
        </div>
        -->
    </div>
</div>

</body>

{% endblock %}