<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<head>
    <title>Liked</title>
</head>

<body>
<h1>Create a new post!</h1>
<iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2F%2F&layout=button&size=small&width=67&height=20&appId" width="67" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

<script src="https://apis.google.com/js/platform.js"></script>
<div class="g-ytsubscribe" data-channel="GoogleDevelopers" data-layout="default" data-count="hidden" ></div>

<script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
<script type="IN/Share" data-url="https://www.linkedin.com"></script>

<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8" style="height:200px;width:200px"></script>
</form>
<a data-pin-do="buttonFollow" href="https://www.pinterest.com/pinterest/">Pinterest</a>
<script async defer src="//assets.pinterest.com/js/pinit.js" ></script>


</body>
{% endblock %}